[Unit]
Description=yQuant Dashboard Service
After=network.target

[Service]
Type=notify
WorkingDirectory=/srv/yquant/dashboard
ExecStart=/usr/bin/dotnet /srv/yquant/dashboard/yQuant.App.Dashboard.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dashboard
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000

[Install]
WantedBy=default.target
