[Unit]
Description=yQuant Web Dashboard Service
After=network.target

[Service]
Type=notify
WorkingDirectory=/srv/yquant/web
ExecStart=/usr/bin/dotnet /srv/yquant/web/yQuant.App.Web.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=web
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000

[Install]
WantedBy=default.target
